div.tfgsGuimodifyMenubar {}

div.tfgsGuimodifyMenubarFold {
	top: -3rem;
	margin-bottom: -3rem;
}

div.tfgsGuimodifyStagetargetHide {
	display: none;
}

div.tfgsGuimodifyMenubarBody {
	height: 100%;
}

span.tfgsGuimodifyButton {
	position: absolute;
	color: grey;
	font-size: 1rem;
	line-height: 1rem;
	text-align: center;
}

div.tfgsGuimodifySpriteinfoFold {
	max-height: 0px;
	padding: 0px;
	overflow: hidden;
}

div.tfgsGuimodifyStagebuttonFold {
	max-width: 0px;
	padding: 0px;
	overflow: hidden;
}

div.tfgsGuimodifyStageFold {
	max-height: 0px;
	padding: 0px;
	overflow: hidden;
}

/*
[class^=stage-wrapper_stage-canvas-wrapper_] {
	display: none;
}

[class^=sprite-info_sprite-info_] {
	max-height: 10px;
	padding-top: 0;
	padding-bottom: 0;
	overflow-y: hidden;
	box-sizing: border-box;
	transition: all linear 0.2s;
}

[class^=sprite-info_sprite-info_]:hover {
	max-height: 100px;
	padding: 0.75rem;
}

.blocklyScrollbarHorizontal,
.blocklyScrollbarVertical,
.blocklyMainWorkspaceScrollbar,
.blocklyFlyoutScrollbar{}

.blocklyFlyoutScrollbar,
.blocklyFlyout {
	left: 100%;
}

.blocklyFlyoutScrollbar:hover,
.blocklyFlyout:hover {
	left: 0px;
}

[class^=gui_watermark_] {
	display: none;
}

[class^=selector_wrapper_] {
	position: absolute;
	height: 100%;
	z-index: 2;
	border-right: 1px solid #d9d9d9;
	width: 40px;
	transition: all linear 0.2s;
}

[class^=selector_wrapper_]:hover {
	width: 100%;
}

[class^=selector_list-area_] {
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

[class^=sprite-selector-item_sprite-selector-item_] {
	margin-left: 0.6rem;
}


[class^=asset-panel_detail-area_] {
	padding-left: 40px;
}

html, body, .index_app_3Qs6X {
  -- min-width: 1024px;
  -- min-height: 640px;
}
*/
