span.tfgsGuimodifyButton {
	position: absolute;
	color: grey;
	font-size: 1em;
	line-height: 1em;
	text-align: center;
}

body.tfgsGuimodifyMenubarFold div[class^=gui_menu-bar-position_] {
	top: calc(0px - var(--tfgsGuimodifyMenubarHeight));
	margin-bottom: calc(0px - var(--tfgsGuimodifyMenubarHeight));
}

body.tfgsGuimodifyMenubarFold div[class^=gui_body-wrapper_] {
	height: 100%;
}

body.tfgsGuimodifyBlocktoolFold .blocklyFlyoutScrollbar,
body.tfgsGuimodifyBlocktoolFold .blocklyFlyout {
	left: -250px;
}

body.tfgsGuimodifyStagetargetFold div[class^=gui_stage-and-target-wrapper_] {
	display: none;
}

body.tfgsGuimodifySpriteinfoFold div[class^=sprite-info_sprite-info_] {
	max-height: 0px;
	padding: 0px;
	overflow: hidden;
}

body.tfgsGuimodifyStagebuttonFold div[class^=target-pane_stage-selector-wrapper_] {
	max-width: 0px;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	overflow: hidden;
}

body.tfgsGuimodifyStageFold div[class^=stage-wrapper_stage-canvas-wrapper_] {
	max-height: 0px;
	padding: 0px;
	overflow: hidden;
}

body.tfgsGuimodifyFullscreen {
	overflow: scroll;
}

body.tfgsGuimodifyExpand100 {
	position: fixed;
	bottom: 0;
}

body.tfgsGuimodifyAssetpanelFold [class^=selector_wrapper_] {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
}

body.tfgsGuimodifyAssetpanelFold [class^=selector_list-area_] {
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

body.tfgsGuimodifyAssetpanelFold [class*=" sprite-selector-item_sprite-selector-item_"] {
	margin-left: 0.8em;
}

body.tfgsGuimodifyAssetpanelFold [class^=asset-panel_detail-area_] {
	padding-left: 45px;
}
