.tfgsJoystick {
	display: flex;
	padding: 2px;
	height: calc(100% - 4px);
}

.tfgsJoystickKeyBoard {
	width: calc(100% - 4px);
	flex-flow: column nowrap;
	border: 1px solid black;
	font-size: 20px;
	padding: 1px;
}

.tfgsJoystickKeyBoard>span {
	display: flex;
	flex: 1 1 0;
	flex-flow: row nowrap;
	overflow: hidden;
}

.tfgsJoystickKeyBoard>span>span {
	flex: 1 1 0;
	margin: 1px;
	border: 1px solid black;
	font-size: 20px;
	box-sizing: border-box;
	white-space: pre;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.tfgsJoystickMouse {
	width: calc(100% - 4px);
	flex-flow: column nowrap;
	border: 1px solid black;
	font-size: 20px;
	padding: 1px;
}

.tfgsJoystickMouse>.tfgsJoystickMouseMove {
	flex: 4 4 0;
	border: 1px solid black;
	margin: 1px;
	padding: 1px;
}

.tfgsJoystickMouse>span {
	flex: 1 1 0;
	display: flex;
	flex-flow: row nowrap;
}

.tfgsJoystickMouseClick {
	flex: 1 1 0;
	border: 1px solid black;
	margin: 1px;
	padding: 1px;
}

.tfgsJoystickMouseSwitch {
	flex: 1 1 0;
	border: 1px solid black;
	margin: 1px;
	padding: 1px;
}

.tfgsJoystickCursor {
	position: fixed;
	z-index: 1000000000;
	text-shadow: 0px 0px 2px white;
	color: grey;
	pointer-events: none;
	font-size: 30px;
}
