div.tfgsResourcesRenamable {
	border-bottom: 1px dotted hsla(225, 15%, 40%, 1);
	min-height: 1em;
}

.sprite-selector-item_is-selected_24tQj div.tfgsResourcesRenamable {
	border-bottom: 1px dotted hsla(0, 100%, 100%, 1);
}

input.tfgsResourcesRename {
	border: 2px solid hsla(225, 15%, 40%, 1);
	width: 100%;
	height: 100%;
	background: inherit;
	color: inherit;
	box-sizing: border-box;
	text-align: inherit;
	margin: inherit;
	padding: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none;
}

.sprite-selector-item_is-selected_24tQj input.tfgsResourcesRename {
	border: 2px solid hsla(0, 100%, 100%, 1);
}
