.tfgsButton {
	display: inline-block;
	min-width: 60px;
	text-align: center;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	padding: 2px;
	background: white;
	user-select: none;
	border-radius: 5px;
	box-shadow: 1px 1px 2px black;
}

.tfgsButton:active,
.tfgsButton.tfgsDrag {
	background: #9cf;
}

.tfgsDisable {
	display: none;
	background: lightgrey;
	color: grey;
}

.tfgsRight {
	float: right;
}
