.tfgsLogFormat {
	display: block;
	white-space: pre-wrap;
	word-break: break-all;
	font-family: monospace;
	font-size: 15;
	overflow: scroll;
}

.tfgsLogFormat>*:nth-child(odd) {
	background: #f0f8ff;
}

.tfgsLogFormat>*:nth-child(even) {
	background: #def;
}

.tfgsLog {
	position: fixed;
	height: 400px;
	max-height: calc(100% - 10px);
	width: 300px;
	max-width: calc(100% - 10px);
	z-index: 100000001;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	box-sizing: border-box;
}

.tfgsLog * {
	box-sizing: border-box;
}

.tfgsLogContent {
	height: calc(100% - 50px);
	background: #fff;
}

.tfgsLogButtons {
	height: 50px;
	background: #def;
}
