/** ## */

.-tfgs-setting-button {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	top: 100px;
	left: 100px;
	background: grey;
	color: white;
	word-wrap: break-word;
	font: 15px monospace;
	border: 1px solid black;
	border-radius: 5px;
}

.-tfgs-setting-windowbg {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.5);
}

.-tfgs-setting-window {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	padding: 10px;
	background: white;
	box-shadow: 0px 0px 5px black;
	border: 1px solid black;
}

.-tfgs-setting-okbutton {
	position: absolute;
	height: 30px;
	width: 30px;
	right: -1px;
	top: -1px;
	background: red;
	border-radius: 2px;
	border: 1px solid black;
	color: white;
	font: 20px monospace;
	text-align: center;
}

.-tfgs-setting-menu {
	overflow-y: scroll;
	background: white;
}

.-tfgs-setting-block {
	border-radius: 2px;
	border: 1px solid black;
	padding: 2px;
	/*background: lightblue;*/
}

.-tfgs-setting-title {
	padding: 2px;
	border-radius: 2px;
	background: lightblue;
}

.-tfgs-setting-title input {
	position: relative;
}

/*
.-tfgs-setting-title input:before {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-radius: 2px;
	background: blue;
}

.-tfgs-setting-title input:checked:before {
	background: red;
}
*/

.-tfgs-setting-option {
	display: inline-block;
	background: lightgreen;
	border-radius: 2px;
	border: 1px solid black;
	margin: 2px;
	padding: 2px;
}

.-tfgs-setting-option input[type=text] {
	width: 50px;
}

/*
.-tfgs-setting-option input[type=radio] {}

.-tfgs-setting-option input[type=checkbox] {}
*/

.-tfgs-setting-infobutton {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid black;
	background: lightyellow;
	text-align: center;
	position: relative;
}

.-tfgs-setting-info:before {
	content: " ";
	position: absolute;
	top: -10px;
	left: 63px;
	width: 0px;
	height: 0px;
	z-index: 1;
	border-bottom: 10px solid black;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
}

.-tfgs-setting-info:after {
	content: " ";
	position: absolute;
	top: -9.6px;
	left: 63px;
	width: 0px;
	height: 0px;
	z-index: 1;
	border-bottom: 10px solid lightyellow;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
}

.-tfgs-setting-info {
	display: none;
	position: absolute;
	white-space: pre-wrap;
	top: 30px;
	left: -65px;
	width: 150px;
	z-index: 1;
	border: 1px solid black;
	border-radius: 2px;
	background: lightyellow;
}

.-tfgs-setting-option-select {
	border: 1px solid black;
	border-radius: 2px;
	background: pink;
}

.-tfgs-setting-tips {
	display:block;
	border: 1px solid black;
	border-radius: 2px;
	background: lightyellow;
}
