/** ## */

.-tfgs-setting-button {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	top: 100px;
	left: 100px;
	background: lightgreen;
	word-wrap: break-word;
	border-radius: 50%;
	box-shadow: 0px 0px 2px black;
}

.-tfgs-setting-windowbg {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.5);
}

.-tfgs-setting-window {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	padding: 10px;
	background: white;
	box-shadow: 0px 0px 5px black;
	border: 1px solid black;
}

.-tfgs-setting-okbutton {
	position: absolute;
	height: 30px;
	width: 30px;
	right: -1px;
	top: -1px;
	background: red;
	border-radius: 2px;
	border: 1px solid black;
	color: white;
	font: 20px monospace;
	text-align: center;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.-tfgs-setting-menu {
	display: block;
	height: 100%;
	overflow-y: scroll;
	background: white;
	font-family: Fantasque, fira, monofur, monospace;
}

.-tfgs-setting-menu * {
	margin: 2px;
	padding: 2px;
}

.-tfgs-setting-block {
	border-radius: 2px;
	border: 1px solid black;
	/*background: lightblue;*/
}

.-tfgs-setting-title {
	border-radius: 2px;
	background: lightblue;
}

.-tfgs-setting-title input {
	position: relative;
}

.-tfgs-setting-option {
	display: inline-block;
	background: lightgreen;
	border-radius: 2px;
	border: 1px solid black;
	margin: 2px;
}

.-tfgs-setting-infobutton {
	display: inline-block;
	width: 15px;
	height: 15px;
	font-size: 15px;
	line-height: 15px;
	padding: 0px;
	border-radius: 50%;
	border: 1px solid black;
	background: lightyellow;
	text-align: center;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
}

.-tfgs-setting-info:before {
	content: " ";
	position: absolute;
	top: -10px;
	left: 62px;
	width: 0px;
	height: 0px;
	z-index: 1;
	border-bottom: 10px solid black;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.-tfgs-setting-info:after {
	content: " ";
	position: absolute;
	top: -8.6px;
	left: 62px;
	width: 0px;
	height: 0px;
	z-index: 1;
	border-bottom: 10px solid lightyellow;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.-tfgs-setting-info {
	display: none;
	position: absolute;
	white-space: pre-wrap;
	top: 20px;
	left: -68px;
	width: 150px;
	z-index: 1;
	border: 1px solid black;
	border-radius: 2px;
	background: lightyellow;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.-tfgs-setting-option-select {
	display: inline-block;
	border: 1px solid black;
	border-radius: 2px;
	background: pink;
}

.-tfgs-setting-tips {
	display: block;
	border: 1px solid black;
	border-radius: 2px;
	background: lightyellow;
}

.-tfgs-setting-menu input[type=text] {
	border-radius: 1px;
	height: 25px;
	width: 150px;
	font-family: Fantasque, fira, monofur, monospace;
	background: white;
	border: 1px solid black;
}

.-tfgs-setting-menu input[type=number] {
	border-radius: 1px;
	height: 25px;
	width: 75px;
	font-family: Fantasque, fira, monofur, monospace;
	background: white;
	border: 1px solid black;
}

.-tfgs-setting-menu input[type=checkbox] {
	display: none;
}

.-tfgs-setting-menu input[type=checkbox]~label:before {
	content: " ";
	display: inline-block;
	font-size: 0px;
	height: 20px;
	width: 20px;
	background: white;
	border-radius: 3px;
	border: 1px solid black;
	box-sizing: border-box;
	overflow: hidden;
}

.-tfgs-setting-menu input[type=checkbox]:checked~label:before {
	content: "\2713";
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	color: white;
	background: blue;
}

.-tfgs-setting-menu input[type=radio] {
	display: none;
}

.-tfgs-setting-menu input[type=radio]~label {
	display: inline-block;
}

.-tfgs-setting-menu input[type=radio]~label:before {
	content: " ";
	/* position: absolute; */
	display: inline-block;
	font-size: 0px;
	height: 20px;
	width: 20px;
	background: white;
	border-radius: 50%;
	border: 1px solid black;
	box-sizing: border-box;
	overflow: hidden;
}

.-tfgs-setting-menu input[type=radio]:checked~label:before {
	content: "â—";
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	color: white;
	background: blue;
}

.-tfgs-setting-menu input[type=button] {
	position: relative;
	background: lightyellow;
	border-radius: 2px;
	border: 1px solid black;
	font-family: Fantasque, fira, monofur, monospace;
}

.-tfgs-setting-menu input[type=button]:active {
	background: olive;
}

.-tfgs-setting-menu input.-tfgs-warning,
.-tfgs-setting-menu input.-tfgs-warning~label:before {
	border: 2px solid olive;
	background: lightyellow;
	color: olive;
}

.-tfgs-setting-menu input.-tfgs-warning:checked~label:before {
	background: olive;
}


.-tfgs-setting-menu input.-tfgs-error,
.-tfgs-setting-menu input.-tfgs-error~label:before {
	border: 2px solid red;
	background: pink;
	color: red;
}

.-tfgs-setting-menu input.-tfgs-error:checked~label:before {
	background: red;
}

.-tfgs-setting-menu input.-tfgs-warning:hover+*>.-tfgs-setting-wrong-tips,
.-tfgs-setting-menu input.-tfgs-warning:focus+*>.-tfgs-setting-wrong-tips {
	display: block;
}

.-tfgs-setting-menu input.-tfgs-warning+*>.-tfgs-setting-wrong-tips {
	background: lightyellow;
}

.-tfgs-setting-menu input.-tfgs-warning+*>.-tfgs-setting-wrong-tips:after {
	border-bottom: 10px solid lightyellow;
}

.-tfgs-setting-menu input.-tfgs-error:hover+*>.-tfgs-setting-wrong-tips,
.-tfgs-setting-menu input.-tfgs-error:focus+*>.-tfgs-setting-wrong-tips {
	display: block;
}

.-tfgs-setting-menu input.-tfgs-error+*>.-tfgs-setting-wrong-tips {
	background: pink;
}

.-tfgs-setting-menu input.-tfgs-error+*>.-tfgs-setting-wrong-tips:after {
	border-bottom: 10px solid pink;
}

.-tfgs-setting-wrong-tips:before {
	content: " ";
	position: absolute;
	top: -10px;
	left: 10px;
	width: 0px;
	height: 0px;
	z-index: 1;
	border-bottom: 10px solid black;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.-tfgs-setting-wrong-tips:after {
	content: " ";
	position: absolute;
	top: -8.6px;
	left: 10px;
	width: 0px;
	height: 0px;
	z-index: 1;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.-tfgs-setting-wrong-tips {
	display: none;
	position: absolute;
	white-space: pre-wrap;
	top: 15px;
	left: -20px;
	width: 150px;
	z-index: 1;
	border: 1px solid black;
	border-radius: 2px;
}

.-tfgs-setting-wrong-tips:hover {
	display: block;
}

#test {
	width: 100%;
	height: 300px;
}
