.tfgsLogFormat {
	display: block;
	white-space: pre-wrap;
	word-break: break-all;
	font-family: monospace;
	font-size: 15;
	overflow: scroll;
}

.tfgsLogFormat>*:nth-child(odd) {
	background: #f0f8ff;
}

.tfgsLogFormat>*:nth-child(even) {
	background: #def;
}

.tfgsLogContent {
	height: calc(100% - 30px);
	background: #fff;
}

.tfgsLogButtons {
	height: 30px;
	background: #08f;
}
