.tfgsMenuContent {
	height: calc(100% - 30px);
	background: #f0f8ff;
	overflow: auto;
	text-align: center;
}

.tfgsMenuButtons {
	height: 30px;
	background: #08f;
}

.tfgsMenuFunc {
	margin: 5px;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	text-align: left;
}

.tfgsMenuFuncOption {
	background: #def;
	padding: 2px;
}

.tfgsMenuFuncOptionOne {
	display: inline-block;
	margin: 2px;
	padding: 2px;
	background: #bdf;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	min-width: calc(25% - 10px);
	max-width: calc(100% - 10px);
}

.tfgsMenuFunc input,
.tfgsMenuFunc select {
	position: relative;
	vertical-align: middle;
	border: none;
	background: white;
	width: 100px;
	height: 20px;
	margin: 2px;
	padding: 2px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

.tfgsMenuFuncOptionOne>input {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) inset;
}

.tfgsMenuFuncOptionOne>input[type="checkbox"],
.tfgsMenuFuncTitle>input {
	width: 20px;
	height: 20px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.tfgsMenuFunc input:active,
.tfgsMenuFunc select:active {
	background: #9cf;
}

.tfgsMenuFunc input:focus,
.tfgsMenuFunc select:focus {
	background: #def;
	outline: none;
}

.tfgsMenuFuncTitle {
	background: #08f;
	color: white;
	padding: 2px;
	font-weight: bold;
	font-family: monospace;
}

.tfgsMenuFuncInfo {
	font-size: 12px;
}

.tfgsMenuFuncName {
	font-size: 15px;
}
