.tfgsWindow {
	box-shadow: 0px 0px 2px black;
	width: 150px;
	height: 100px;
	position: fixed;
	top: 160px;
	left: 50px;
	background: white;
	border: 3px solid #08f;
	border-radius: 3px;
	overflow: hidden;
}

.tfgsWindowTitle {
	background: #08f;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	align-items: center;
	border-bottom: 2px solid #08f;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
	height: 20px;
}

.tfgsWindowTitle>span {
	width: 20px;
	height: 20px;
	text-align: center;
	flex: none;
	user-select: none;
	-moz-user-select: none;
}

.tfgsWindowTitle>span:active {
	background: rgba(0, 0, 0, 0.25);
}

.tfgsWindowTitle>.tfgsWindowText {
	width: fit-content;
	flex: auto;
	overflow: hidden;
	cursor: move;
	/* text-overflow: ellipsis; */
	text-overflow: "...";
}

.tfgsWindowTitle>.tfgsWindowText:active {
	background: none;
}

.tfgsWindowContent {
	height: calc(100% - 20px - 2px);
	overflow: auto;
}

.tfgsWindowResize {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-bottom: 15px solid #08f;
	cursor: se-resize;
}

.tfgsWindowResize:active {
	border-bottom: 15px solid #06b;
}

.tfgsWindowResize:after {
	content: "=";
	position: absolute;
	left: -9px;
	top: -2px;
	transform: rotate(-45deg);
	color: white;
}
