.tfgsWindow.tfgsEmergency {
	--tfgsWindowColor: #f80;
}

.tfgsWindow {
	--tfgsWindowColor: #08f;
	box-shadow: 0px 0px 2px black;
	position: fixed;
	background: white;
	border: 3px solid var(--tfgsWindowColor);
	border-radius: 3px;
	overflow: hidden;
	box-sizing: border-box;
}

.tfgsWindow * {
	box-sizing: content-box;
}

.tfgsWindowTitle {
	background: var(--tfgsWindowColor);
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	align-items: center;
	border-bottom: 3px solid var(--tfgsWindowColor);
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 20px;
	height: 20px;
}

.tfgsWindowTitle>span {
	width: 20px;
	height: 20px;
	text-align: center;
	flex: none;
	user-select: none;
	-moz-user-select: none;
}

.tfgsWindowTitle>span:active {
	background: rgba(0, 0, 0, 0.25);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.tfgsWindowTitle>.tfgsWindowText {
	width: fit-content;
	flex: auto;
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
	text-overflow: "...";
	position: relative;
}

.tfgsWindowTitle>.tfgsWindowText:active {
	background: none;
	box-shadow: none;
}

.tfgsWindowContent {
	height: calc(100% - 20px - 2px);
	overflow: auto;
	position: relative;
	font-size: 16px;
	font-family: monospace;
	color: black;
}

.tfgsWindowResize {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-bottom: 15px solid var(--tfgsWindowColor);
	cursor: se-resize;
}

.tfgsWindowResize:after {
	content: "=";
	position: absolute;
	left: -8px;
	top: 0px;
	transform: rotate(-45deg);
	color: white;
}
