.tfgsForcecolorWindow {
	position: relative;
	width: 320px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	background: #f0f8ff;
}

.tfgsForcecolorWindow * {
	box-sizing: border-box;
}

.tfgsForcecolorPicker {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.tfgsForcecolorH {
	display: block;
	position: relative;
	width: 300px;
	height: 300px;
	padding: 30px;
	border-radius: 50%;
	background: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.tfgsForcecolorHI {
	display: block;
	width: 100%;
	height: 100%;
	padding: 15%;
	border-radius: 50%;
	background: white;
}

.tfgsForcecolorHP {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0%;
	left: 0;
	top: 0;
	color: white;
	font-size: 30px;
	border-radius: 50%;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	transform: rotate(calc(var(--H) * 1deg));
}

.tfgsForcecolorSB {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 0%;
	background: linear-gradient(to right, #000, transparent), linear-gradient(to bottom, var(--HC), #fff);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.tfgsForcecolorSBP {
	position: absolute;
	left: calc(-7px + var(--B) * 1%);
	top: calc(-7px + (100 - var(--S)) * 1%);
	height: 14px;
	width: 14px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	background: white;
}

.tfgsForcecolorA {
	position: relative;
	margin: 10px;
	height: 30px;
	width: calc(100% - 20px);
	background: conic-gradient(grey 0%, grey 25%, white 25%, white 50%, grey 50%, grey 75%, white 75%, white 100%);
	background-size: 20px 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.tfgsForcecolorAC {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, transparent, var(--AC));
}

.tfgsForcecolorAP {
	position: absolute;
	width: 100px;
	font-size: 30px;
	text-align: center;
	left: calc(-50px + var(--A) * 1%);
	top: 0px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	color: white;
}

.tfgsForcecolorInput {
	position: relative;
	width: 100%;
	padding: 10px;
}

.tfgsForcecolorInput>* {
	vertical-align: top;
	height: 40px;
	width: calc(100% / 5 - 4px);
	margin: 2px 0;
	padding: 0;
	border: none;
	display: inline-block;
	text-align: center;
	border-radius: 10px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.tfgsForcecolorInput>select {
	background: #bdf;
}

.tfgsForcecolorInput>input,
.tfgsForcecolorInput>span {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.tfgsForcecolorInput>*:focus {
	background: #def;
}

.tfgsForcecolorInput>input:active,
.tfgsForcecolorInput>select:active {
	background: #7bf;
}

.tfgsForcecolorInput2 {
	width: calc(100% * 4 / 5 - 4px);
}

.tfgsForcecolorList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	height: auto;
}

.tfgsForcecolorList>* {
	height: 20px;
	width: 20px;
	margin: 3px;
	border: 2px solid black;
	display: inline-block;
}

.tfgsForcecolorMode>* {
	height: 30px;
	width: 30px;
	margin: 2px;
	border: 2px solid black;
	display: inline-block;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.tfgsForcecolorList>*,
.tfgsForcecolorMode>*,
.tfgsForcecolorColor {
	position: relative;
	background: conic-gradient(grey 0%, grey 25%, white 25%, white 50%, grey 50%, grey 75%, white 75%, white 100%);
	background-size: 20px 20px;
}

.tfgsForcecolorList>*:after,
.tfgsForcecolorMode>*:after,
.tfgsForcecolorColor:after {
	content: " ";
	position: absolute;
	display: block;
	top: -1;
	left: -1;
	bottom: -1;
	right: -1;
	background: var(--C);
}

.tfgsForcecolorSelect {
	outline: 3px solid #07f;
	border: 2px solid #07f;
}
